---
extends: default

rules:
  line-length:
    # matches hardcoded 160 value from ansible-lint
    max: 160
  indentation:
    spaces: consistent
    indent-sequences: true
    check-multi-line-strings: false
ignore: |
  zuul.d/molecule.yaml
  releasenotes/notes/*.yaml
