---
metadata:
  name: MySQL Open Files Limit
  description: >
    Verify the `open-files-limit` configuration is high enough

    https://access.redhat.com/solutions/1598733
  groups:
    - post-deployment
