---
- hosts: undercloud, overcloud
  vars:
    metadata:
      name: Ensure container status
      description: >
        Detect failed containers and raise an error.
      groups:
        - pre-upgrade
        - post-deployment
        - post-upgrade
  roles:
    - container_status
