---
- hosts: "{{ controller_rolename | default('Controller') }}"
  vars:
    metadata:
      name: Nova Event Callback Configuration Check
      description: >
        This validations verifies that the Nova auth_url in neutron,
        which is generally enabled by default, is configured correctly

        It checks the following files on the Overcloud Controller(s):
        - **/etc/neutron/neutron.conf**: [nova]/auth_url = 'http://nova_admin_auth_ip:5000'
      groups:
        - post-deployment
    neutron_config_file: /var/lib/config-data/puppet-generated/neutron/etc/neutron/neutron.conf
  roles:
    - nova_event_callback
