---
- hosts: ComputeOvsDpdk
  vars:
    metadata:
      name: Validates OVS DPDK PMD cores from all NUMA nodes.
      description: >
        OVS DPDK PMD cpus must be provided from all NUMA nodes.

        A failed status post-deployment indicates PMD CPU list is not
        configured correctly.
      groups:
        - post-deployment
  roles:
    - ovs-dpdk-pmd
