---
- hosts: all
  vars:
    metadata:
      name: package-version
      description: |
        Ensures we can access the wanted package version. Especially useful
        when you are switching repositories, for instance during an upgrade.
      groups:
        - prep
        - pre-deployment
        - pre-upgrade
        - pre-update
        - pre-system-upgrade
        - pre-undercloud-upgrade
        - pre-overcloud-prepare
        - pre-overcloud-upgrade
        - pre-overcloud-converge
        - pre-ceph
    package_version_debug: false
  roles:
    - package_version
