---
- hosts: undercloud
  gather_facts: false
  vars:
    metadata:
      name: Check if latest version of TripleO packages is installed
      description: |
        Make sure a list of TripleO packages are at its latest version
        before starting an upgrade.
      groups:
        - pre-upgrade
    packages_list:
      - python3-tripleoclient
  roles:
    - check_latest_packages_version
